<!DOCTYPE html>
<p></p>
<p>Choose a <b>one-time</b> amount</p>

<ul class="donate-now">
    <li>
      <input type="radio" id="a25" name="amount" />
      <label for="a25">$250</label>
    </li>
    <li>
      <input type="radio" id="a50" name="amount" />
      <label for="a50">$100</label>
    </li>
    <li>
      <input type="radio" id="a75" name="amount" checked="checked" />
      <label for="a75">$50</label>
    </li>
    <li>
      <input type="radio" id="a100" name="amount" />
      <label for="a100">$25</label>
    </li>
    <li>
      <input type="radio" id="other" name="amount" />
      <label for="other">Other:</label>
    </li>
    <li>
      <input type="text" id="otherAmount" name="numAmount" />
    </li>
  </ul>
