<!DOCTYPE html>
  
<p></p>
<p>Choose a <b>monthly</b> amount</p>

<!-- <ul class="donate-now" id="amount">
    <li>
      <input type="radio" id="a100" name="amount" value="100"/>
      <label for="a25">$100</label>
    </li>
    <li>
      <input type="radio" id="a50" name="amount" value="50"/>
      <label for="a50">$50</label>
    </li>
    <li>
      <input type="radio" id="a25" name="amount" checked="checked" value="25"/>
      <label for="a75">$25</label>
    </li>
    <li>
      <input type="radio" id="a15" name="amount" value="15"/>
      <label for="a100">$15</label>
    </li>
    <li>
      <input type="radio" id="other" name="amount"/>
      <label for="other">Other:</label>
    </li>
    <li>
      <input type="text" id="otherAmount" name="numAmount" />
    </li>
  </ul> -->

  <div *ngFor="let amount of amounts">
    <input
    type="radio"
    name="amountOfDonation"
    value="{{amount}}"
    (change)="radioChangeHandler($event)">
    <i>{{amount}}</i>
  </div>

  <p><span>You selected:</span><b>{{selectedAmount}}</b></p>