<div style="background-color:#33475b" class="long-div">
  <mat-toolbar class="thick" color="white">
    <span>United Salvation</span>
  </mat-toolbar>
    <div class="main-div">
      <mat-card class="example-card">

    <div class="center">
    <div *ngFor="let occurence of occurences" class="occ">
      <input
      type="radio"
      name="occurenceOfDonation"
      value="{{occurence}}"
      (change)="radioChangeHandler2($event)">
      <label
        [ngClass]="{selected: occurence === selectedOccurence}"
      >
        {{occurence}}
      </label>
    </div>
    </div>
    <br>
    <p><span>Choose a </span><b>{{selectedOccurence}}</b><span> donation amount</span></p>
    <div *ngFor="let amount of amounts" class="donate-now">
      <input
      type="radio"
      name="amountOfDonation"
      value="{{amount}}"
      (change)="radioChangeHandler($event)">
      <label
        [ngClass]="{selected: amount == selectedAmount}"
      >
        ${{amount}}
      </label>
    </div>
    <br>
    <br>
    <br>
    <br>


    <mat-divider></mat-divider>
    <br>
    <h2>Your Information</h2>
    <mat-form-field class="name" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="" required>
    </mat-form-field>
    <mat-form-field class="name" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="" required>
    </mat-form-field>
    <p>
      <mat-form-field class="email" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="donate@example.com" required>
        <mat-hint>Your receipt will be emailed here.</mat-hint>
      </mat-form-field>
    </p>
    <p><mat-checkbox class="example-margin">I would like to recieve emails from United Salvation</mat-checkbox></p>
    <br>
    <mat-divider></mat-divider>
    <div class="row">
      <br>
      <div class="center"><p><span>Total </span><b>{{selectedOccurence}}</b><span> Donation:</span></p></div>
      <div class="center"><h1><b>${{selectedAmount}}</b></h1></div>


      <div class="center"><h4>Donate with your preferred payment method: </h4></div>
      <div>
        <div class="center">
          <a href="#" (click)="pncAuth()" mat-stroked-button>PNC</a>
          <button mat-stroked-button>PayPal</button>
          <button mat-stroked-button>Credit Card</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
  <div class="footer">
    <p><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></p>
  </div>
</div>
